* {
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  background-color: #EBE3D5;

}

.a1 {
  float: right;
  font-size: 25px;
  text-decoration: none;
  color: #000000;
  margin-top: -60px;
  margin-bottom: 15px;
}

/*First section*/
.Firstsection {
  margin-top: 10px 0px 10px 0px;
  border-radius: 20px 60px 20px;
  background-color: #EBE3D5;
  text-align: justify;
  font-size: 13px;
}

.Firstsection h2 {
  text-align: center;
  font-size: 28px;
  margin-top: 15px;
  padding-top: 10px;

}

.Firstsection h3 {
  font-size: 23px;
  margin-top: -20px;
  padding-top: 10px;
}

.Firstsection p {
  padding-right: 10px;
  padding-left: 10px;
}

.a {
  text-decoration: none;
  color: #000000;
}

/*Second section*/
.Secondsection {
  margin-top: 20px;
  font-family: 'Work Sans', sans-serif;
  float: center;
}

.Secondsection h3,
.Secondsection p {
  margin: 10px 0px 5px 0px;
  text-align: center;
}

.req{
  margin-top: 15px;
}

.submit,
.reset {
  margin-top: 20px;
  padding: 5px 14px;
  border-radius: 4px;
  background-color: rgba(221, 221, 221, 0.662);
  color: black;
  border: none;
  transition-duration: 0.4s;
}

.submit:active,
.submit:hover {
  background-color: rgb(0, 146, 195);
  color: rgb(255, 255, 255);
}

.reset:active,
.reset:hover {
  background-color: rgb(248, 62, 5);
  color: rgb(255, 255, 255);
}

/*third section*/

.thirdsection{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    float: center;
}

.thirdsection h3{
  margin: 10px 0px 5px 0px;
  text-align: center;
}

/*forth section*/
.forthsection{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
  float: center;
}

.forthsection h3{
margin: 10px 0px 5px 0px;
text-align: center;
}

/*FOOTER*/
.Footer {
  padding: 10px;
  background-color: #333;
  text-align: center;
  color: white;
}

.nav02 a {
  display: inline;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  padding: auto;
}

.nav02 a:visited {
  text-decoration: none;
}

.nav02 a:hover,
.nav02 a:focus {
  cursor: pointer;
}

.Footer ul {
  list-style-type: none;
}

.column {
  overflow-wrap: break-word; /* Added to handle long words in columns */
}

.email {
  word-wrap: break-word; /* Added to allow email to break into next line */
}
.Footer .fa {
  padding: 2%; /* Adjusted padding as a percentage for responsiveness */
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block; /* Ensures that padding affects the layout */
  margin: 1%; /* Added margin for spacing between links */
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #871996;
  color: white;
}


