* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;}

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: scroll;
}

/*Header*/
.navbar {
    list-style-type: none;
    margin-top: 35px;
    padding: 10px;
    background-color: #ffffff;
    overflow: hidden;
    color: rgb(15, 1, 1);
}

.navbar img {
    height: auto;
    width : 220px;
    margin-top: -10px;
    padding-left: 20px;
    padding-bottom: 20px;
    align-items: center;
}

li {
    float: left;
}

li a {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:visited {
    text-decoration: none;
}

li a:hover,
li a:focus {
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px; 
}

.active {
    color: #db3232;
}


/*First Section*/
.Firstsection{
    margin: 10px;
    margin-bottom: 55px;
    background-color: rgba(221, 221, 221, 0.363);
    text-align: justify;
    border-radius: 15px 35px 30px;
}

.Firstsection h2{
    text-align: center;
    font-size: 32px;
    margin-top: 18px;
    padding-top: 9px;
}

.Firstsection p{
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.filter{
    margin-left: 20px;
    font-weight: 500;
    text-align: center;
}

label{
    padding: 7px;
}
/**/

#map{
    width: 100%;
    height: 50vh;
    border: solid 2px rgba(0, 0, 0, 0.581);
    border-radius: 4px;
  }
  
  /* Set the body and html height to 100% for full height */
  
.map-container {
    width: 100%; /* Make the map container's width 100% */
    border: 2px solid #ccc; /* Set the border properties */
    border-radius: 5px; /* Optional: Add border radius */
}


/*FOOTER*/
.Footer {
    padding: 10px;
    background-color: #333;
    text-align: center;
    color:white;
}

.nav02 a {
    display: inline;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding: 20px 10%;
    text-decoration: none;
}

.nav02 a:visited {
    text-decoration: none;
}

.nav02 a:hover,
.nav02 a:focus {
    cursor: pointer;
}

.Footer ul {
    list-style-type: none;
    
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 5px;
    text-align: center;
    text-decoration: none;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-instagram {
    background: #871996;
    color: white;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
}

h2{
    margin: 1.2em;
}

