*{
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}

  
body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: scroll;
}
  
.header {
    background-color: #ffffffcc;
    text-align: left;
    font-size: 40px;
    color: rgb(15, 1, 1);
    height: 200px;
}

.header img {
    height: auto;
    width : 220px;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.header p{
    text-align: right;
    margin-top: -70px;
    font-size: 19px;
    display: hidden;
    margin-right: 15px;
}

.home{
    align-items: right;
    text-align: right;
    margin-top: -180px;
    margin-right: 20px;
}

.home a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    margin-top: -100px;
    font-style: normal; /* Add this line */
}
 
/* second sectin */
.form_container {
    text-align: left;
    padding: 50px;
    margin-top: 160px;
    align-items: left;
    justify-content: center;
    align-items: center;
}

.form h3 {
    margin-top: 20px;
    font-size: 1.2em; /* Adjust font size */
}

.form_container form{
    padding: 20px;
}

/*Buttons*/
.form_container button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 14px;
    border-radius: 4px;
    background-color: rgba(221, 221, 221, 0.662);
    color: black;
    border: none;
    transition-duration: 0.4s;
}

.form_container button:focus {
  border-color: #485fc7;
  outline: 0;
}

.form_container button:hover {
  border-color: #b5b5b5;
  background-color: #db3232;;
  color: rgb(255, 255, 255);
}


.form_container button:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}
  

/*Table*/
.dataTable {
    padding-top: 50px;
    display: block;
    width: 100%;
    margin: 20px;
    text-align: center;
}


.dataTable td, .dataTable th {
    padding: .625em;
    line-height: 1.5em;
    border-bottom: 1px dashed #ccc;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.dataTable th {
    text-align: center; /*titles*/
    background: rgba(0, 0, 0, 0.14);
}



